/* Global reset for height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Keep this specific for AddStock page */
.add-stock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  overflow: hidden; /* No vertical scroll on AddStock page */
}
